@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,400,500,600,700);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e904";
}

._icon-instagram:before {
  content: "\e905";
}

._icon-whatsapp:before {
  content: "\e90c";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #717a90;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 70.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-big] {
  max-width: 83.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

.select {
  position: relative;
  width: 45px;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  /* identical to box height, or 188% */
  color: #000000;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "❯";
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #898383;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  text-transform: uppercase;
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: #717a90;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  height: 6.25rem;
  /* .header__container */
  /* .header__body */
}

.header__body {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.icon-menu {
  max-width: 2.125rem;
}

.menu {
  /* .menu__body */
  /* .menu__list */
  /* .menu__item */
  /* .menu__link */
}

.menu__body {
  margin-right: 4.375rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@supports (gap: clamp( 0.0625rem , -0.8660714286rem  +  4.6428571429vw , 2.5rem )) {
  .menu__list {
    gap: clamp( 0.0625rem , -0.8660714286rem  +  4.6428571429vw , 2.5rem );
  }
}

@supports not (gap: clamp( 0.0625rem , -0.8660714286rem  +  4.6428571429vw , 2.5rem )) {
  .menu__list {
    gap: calc(0.0625rem + 2.4375 * (100vw - 20rem) / 52.5);
  }
}

.menu__link {
  font-size: 14px;
  line-height: 1.375rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.btn-pale {
  padding: 12px 24px;
  color: #fd7461;
  background: #fff0ec;
  border-radius: 50px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.icon-menu {
  display: none;
}

.side-menu {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.menu-open .side-menu {
  right: 0;
}

.footer {
  background: #3b434f;
  color: #ffffff;
}

@supports (padding-top: clamp( 2.5rem , 1.5476190476rem  +  4.7619047619vw , 5rem )) {
  .footer {
    padding-top: clamp( 2.5rem , 1.5476190476rem  +  4.7619047619vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.5476190476rem  +  4.7619047619vw , 5rem )) {
  .footer {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 52.5);
  }
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* .footer-row__icons */
  /* .footer-row__collumn */
}

.footer-row__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 30px;
}

.footer-icons {
  /* .footer-icons__main */
  /* .footer-icons__row */
}

.footer-icons__main {
  margin-bottom: 80px;
}

.footer-icons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer-row-collumn {
  /* .footer-row-collumn__list */
  /* .footer-row-collumn__item */
  /* .footer-row-collumn__link */
}

.footer-row-collumn:not(:last-child) {
  margin-right: 80px;
}

.footer-row-collumn__item {
  margin-bottom: 30px;
}

.footer-bottom {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.4784313725);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@supports (padding-top: clamp( 2.5rem , 1.5476190476rem  +  4.7619047619vw , 5rem )) {
  .footer-bottom {
    padding-top: clamp( 2.5rem , 1.5476190476rem  +  4.7619047619vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.5476190476rem  +  4.7619047619vw , 5rem )) {
  .footer-bottom {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5476190476rem  +  4.7619047619vw , 5rem )) {
  .footer-bottom {
    padding-bottom: clamp( 2.5rem , 1.5476190476rem  +  4.7619047619vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5476190476rem  +  4.7619047619vw , 5rem )) {
  .footer-bottom {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 52.5);
  }
}

.your-agency {
  /* .your-agency__container */
  /* .your-agency__body */
}

@supports (padding-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .your-agency {
    padding-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .your-agency {
    padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -1.4583333333rem  +  16.6666666667vw , 10.625rem )) {
  .your-agency {
    padding-bottom: clamp( 1.875rem , -1.4583333333rem  +  16.6666666667vw , 10.625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.4583333333rem  +  16.6666666667vw , 10.625rem )) {
  .your-agency {
    padding-bottom: calc(1.875rem + 8.75 * (100vw - 20rem) / 52.5);
  }
}

.your-agency__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 65px;
}

.your-agency-body {
  /* .your-agency-body__info */
  /* .your-agency-body__image */
}

.your-agency-body__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45.8620689655%;
          flex: 1 1 45.8620689655%;
  max-width: 43.75rem;
}

.your-agency-body__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 59.6551724138%;
          flex: 1 1 59.6551724138%;
  position: relative;
  margin-right: -30px;
}

.your-agency-body__image img {
  width: 100%;
  bottom: 0;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.your-agency-info {
  /* .your-agency-info__title */
  /* .your-agency-info__text */
}

.your-agency-info__title {
  font-weight: 700;
  color: #1d2736;
  letter-spacing: -0.03em;
}

@supports (font-size: clamp( 2.1875rem , 1.5922619048rem  +  2.9761904762vw , 3.75rem )) {
  .your-agency-info__title {
    font-size: clamp( 2.1875rem , 1.5922619048rem  +  2.9761904762vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.5922619048rem  +  2.9761904762vw , 3.75rem )) {
  .your-agency-info__title {
    font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 52.5);
  }
}

@supports (line-height: clamp( 2.5625rem , 1.9672619048rem  +  2.9761904762vw , 4.125rem )) {
  .your-agency-info__title {
    line-height: clamp( 2.5625rem , 1.9672619048rem  +  2.9761904762vw , 4.125rem );
  }
}

@supports not (line-height: clamp( 2.5625rem , 1.9672619048rem  +  2.9761904762vw , 4.125rem )) {
  .your-agency-info__title {
    line-height: calc(2.5625rem + 1.5625 * (100vw - 20rem) / 52.5);
  }
}

.your-agency-info__title:not(:last-child) {
  margin-bottom: 16px;
}

@supports (font-size: clamp( 2.1875rem , 1.5922619048rem  +  2.9761904762vw , 3.75rem )) {
  .your-agency-info__title.__rose-title {
    font-size: clamp( 2.1875rem , 1.5922619048rem  +  2.9761904762vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.5922619048rem  +  2.9761904762vw , 3.75rem )) {
  .your-agency-info__title.__rose-title {
    font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 52.5);
  }
}

@supports (line-height: clamp( 2.5625rem , 1.9672619048rem  +  2.9761904762vw , 4.125rem )) {
  .your-agency-info__title.__rose-title {
    line-height: clamp( 2.5625rem , 1.9672619048rem  +  2.9761904762vw , 4.125rem );
  }
}

@supports not (line-height: clamp( 2.5625rem , 1.9672619048rem  +  2.9761904762vw , 4.125rem )) {
  .your-agency-info__title.__rose-title {
    line-height: calc(2.5625rem + 1.5625 * (100vw - 20rem) / 52.5);
  }
}

.your-agency-info__text {
  line-height: 180%;
  /* or 32px */
}

.your-agency-info__text:not(:last-child) {
  margin-bottom: 32px;
}

.__title-commot {
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #1d2736;
  letter-spacing: -0.03em;
}

@supports (font-size: clamp( 2.1875rem , 1.9255952381rem  +  1.3095238095vw , 2.875rem )) {
  .__title-commot {
    font-size: clamp( 2.1875rem , 1.9255952381rem  +  1.3095238095vw , 2.875rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.9255952381rem  +  1.3095238095vw , 2.875rem )) {
  .__title-commot {
    font-size: calc(2.1875rem + 0.6875 * (100vw - 20rem) / 52.5);
  }
}

@supports (line-height: clamp( 2.9375rem , 2.8422619048rem  +  0.4761904762vw , 3.1875rem )) {
  .__title-commot {
    line-height: clamp( 2.9375rem , 2.8422619048rem  +  0.4761904762vw , 3.1875rem );
  }
}

@supports not (line-height: clamp( 2.9375rem , 2.8422619048rem  +  0.4761904762vw , 3.1875rem )) {
  .__title-commot {
    line-height: calc(2.9375rem + 0.25 * (100vw - 20rem) / 52.5);
  }
}

.__title-commot:not(:last-child) {
  margin-bottom: 16px;
}

.__rose-title {
  font-weight: 700;
  color: #f0998d;
  letter-spacing: -0.03em;
}

.__rose-btn {
  padding: 16px 37px;
  line-height: 27px;
  /* identical to box height */
  color: #ffffff;
  background: #f0998d;
  -webkit-box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.33);
          box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.33);
  border-radius: 15px;
}

.form-your-agency {
  max-width: 25.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  /* .form-your-agency__input */
  /* .form-your-agency__botton-row */
  /* .form-your-agency__btn */
  /* .form-your-agency__slogan */
}

.form-your-agency__input {
  width: 100%;
  max-width: 25.6875rem;
  padding: 14px 21px;
  background: #ffffff;
  border: 1px solid #dfe8fa;
  border-radius: 15px;
}

.form-your-agency__botton-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 32px;
}

.form-your-agency__slogan {
  display: block;
  max-width: 8.4375rem;
  font-weight: 700;
  font-size: 15px;
  line-height: 146%;
  /* or 22px */
  color: #bbc0c7;
}

.reviews-your-agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  gap: 22px;
  /* .reviews-your-agency__strars */
  /* .reviews-your-agency__star */
  /* .reviews-your-agency__text */
}

.reviews-your-agency__strars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-your-agency__star {
  display: block;
  width: 25px;
}

.reviews-your-agency__star:not(:last-child) {
  margin-right: -5px;
}

.reviews-your-agency__star img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reviews-your-agency__text {
  font-size: 15px;
  line-height: 180%;
}

.partners-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  /* .artners-logos__logo */
}

.partners-logos__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mix-section {
  /* .mix-section__buttons-row */
}

@supports (padding-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .mix-section {
    padding-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .mix-section {
    padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -1.4583333333rem  +  16.6666666667vw , 10.625rem )) {
  .mix-section {
    padding-bottom: clamp( 1.875rem , -1.4583333333rem  +  16.6666666667vw , 10.625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.4583333333rem  +  16.6666666667vw , 10.625rem )) {
  .mix-section {
    padding-bottom: calc(1.875rem + 8.75 * (100vw - 20rem) / 52.5);
  }
}

.mix-section__container-big {
  background: #fdf9f8;
}

@supports (padding-top: clamp( 1.875rem , 0.2083333333rem  +  8.3333333333vw , 6.25rem )) {
  .mix-section__container-big {
    padding-top: clamp( 1.875rem , 0.2083333333rem  +  8.3333333333vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.2083333333rem  +  8.3333333333vw , 6.25rem )) {
  .mix-section__container-big {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.119047619rem  +  11.9047619048vw , 8.75rem )) {
  .mix-section__container-big {
    padding-bottom: clamp( 2.5rem , 0.119047619rem  +  11.9047619048vw , 8.75rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.119047619rem  +  11.9047619048vw , 8.75rem )) {
  .mix-section__container-big {
    padding-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / 52.5);
  }
}

.mix-buttons {
  height: 100px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3.75rem;
  /* .mix-buttons__button */
}

@supports (gap: clamp( 1.5625rem , 1.0148809524rem  +  2.7380952381vw , 3rem )) {
  .mix-buttons {
    gap: clamp( 1.5625rem , 1.0148809524rem  +  2.7380952381vw , 3rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.0148809524rem  +  2.7380952381vw , 3rem )) {
  .mix-buttons {
    gap: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 52.5);
  }
}

.mix-buttons__button {
  font-weight: 500;
  color: #1d2736;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@supports (font-size: clamp( 1.25rem , 1.1547619048rem  +  0.4761904762vw , 1.5rem )) {
  .mix-buttons__button {
    font-size: clamp( 1.25rem , 1.1547619048rem  +  0.4761904762vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1547619048rem  +  0.4761904762vw , 1.5rem )) {
  .mix-buttons__button {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (line-height: clamp( 1.875rem , 1.755952381rem  +  0.5952380952vw , 2.1875rem )) {
  .mix-buttons__button {
    line-height: clamp( 1.875rem , 1.755952381rem  +  0.5952380952vw , 2.1875rem );
  }
}

@supports not (line-height: clamp( 1.875rem , 1.755952381rem  +  0.5952380952vw , 2.1875rem )) {
  .mix-buttons__button {
    line-height: calc(1.875rem + 0.3125 * (100vw - 20rem) / 52.5);
  }
}

.mix-buttons__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f0998d;
  -webkit-transform: 0.5s;
      -ms-transform: 0.5s;
          transform: 0.5s;
}

.mix-section-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  /* .mix-section-page__info */
  /* .mix-section-page__image */
}

.mix-section-page__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mix-section-page__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 53.5964912281%;
          flex: 1 1 53.5964912281%;
}

.mix-section-page__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mix-page-info {
  /* .mix-page-info__title */
  /* .mix-page-info__text */
  /* .mix-page-info__replaces */
}

.mix-page-info__title {
  max-width: 23.75rem;
  margin-bottom: 24px;
}

.mix-page-info__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  margin-bottom: 2rem;
  max-width: 23.125rem;
}

.replaces {
  /* .replaces__title */
  /* .replaces__row */
  /* .replaces__item */
  /* .replaces__btn */
}

.replaces__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  letter-spacing: 0.2em;
  color: #677487;
  margin-bottom: 8px;
}

.replaces__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.replaces__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.replaces__item:not(:last-child)::after {
  content: "";
  display: block;
  height: 16px;
  width: 2px;
  background: rgba(29, 39, 54, 0.103);
  margin-right: 16px;
}

.mixitup-control-active::after {
  width: 100%;
}

.apply {
  position: relative;
  /* .apply__container */
  /* .apply__body */
}

@supports (padding-top: clamp( 1.875rem , 0.9226190476rem  +  4.7619047619vw , 4.375rem )) {
  .apply {
    padding-top: clamp( 1.875rem , 0.9226190476rem  +  4.7619047619vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.9226190476rem  +  4.7619047619vw , 4.375rem )) {
  .apply {
    padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5357142857rem  +  3.5714285714vw , 3.125rem )) {
  .apply {
    padding-bottom: clamp( 1.25rem , 0.5357142857rem  +  3.5714285714vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5357142857rem  +  3.5714285714vw , 3.125rem )) {
  .apply {
    padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 52.5);
  }
}

.apply::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  display: block;
  width: 1360px;
  height: 50%;
  background: #fffafe;
}

.apply::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
  width: 100%;
  height: 50%;
  background: #3b434f;
}

.apply__container {
  background: #ffffff;
  -webkit-box-shadow: 0px -10px 150px rgba(80, 88, 100, 0.05);
          box-shadow: 0px -10px 150px rgba(80, 88, 100, 0.05);
  border-radius: 20px;
}

@supports (padding-top: clamp( 3.125rem , 1.4583333333rem  +  8.3333333333vw , 7.5rem )) {
  .apply__container {
    padding-top: clamp( 3.125rem , 1.4583333333rem  +  8.3333333333vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.4583333333rem  +  8.3333333333vw , 7.5rem )) {
  .apply__container {
    padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.4583333333rem  +  8.3333333333vw , 7.5rem )) {
  .apply__container {
    padding-bottom: clamp( 3.125rem , 1.4583333333rem  +  8.3333333333vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.4583333333rem  +  8.3333333333vw , 7.5rem )) {
  .apply__container {
    padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 52.5);
  }
}

.apply__body {
  padding: 0 48px;
}

.apply-title {
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.03em;
  color: #1d2736;
  /* .apply-title__rose */
}

@supports (font-size: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .apply-title {
    font-size: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .apply-title {
    font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (line-height: clamp( 2.1875rem , 1.7113095238rem  +  2.380952381vw , 3.4375rem )) {
  .apply-title {
    line-height: clamp( 2.1875rem , 1.7113095238rem  +  2.380952381vw , 3.4375rem );
  }
}

@supports not (line-height: clamp( 2.1875rem , 1.7113095238rem  +  2.380952381vw , 3.4375rem )) {
  .apply-title {
    line-height: calc(2.1875rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (margin-bottom: clamp( 3.375rem , 2.8988095238rem  +  2.380952381vw , 4.625rem )) {
  .apply-title {
    margin-bottom: clamp( 3.375rem , 2.8988095238rem  +  2.380952381vw , 4.625rem );
  }
}

@supports not (margin-bottom: clamp( 3.375rem , 2.8988095238rem  +  2.380952381vw , 4.625rem )) {
  .apply-title {
    margin-bottom: calc(3.375rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

.apply-form {
  text-align: center;
  /* .apply-form__row */
}

.apply-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.apply-form__button {
  display: inline-block;
}

.row-form {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  /* .row-form__item */
}

.row-form__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-form__item label {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */
  color: #1d2736;
  margin-bottom: 16px;
}

.row-form__item input {
  padding: 24px 32px;
  background: #f7f9fd;
  border: 1px solid #dfe8fa;
  border-radius: 15px;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.row-form__item input:focus {
  outline: none !important;
  border: 1px solid #aab2c2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #719ece;
          box-shadow: 0 0 10px #719ece;
}

.dialog {
  /* .dialog__container-big */
  /* .dialog__container */
}

.dialog__container-big {
  max-width: 1330px;
  background: #fffafe;
}

.swiper-dialog {
  position: relative;
  max-width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 0 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  position: relative;
  /* .swiper-slide-image__main */
  /* .swiper-slide-image__play */
}

.swiper-slide-image__main {
  width: 100%;
}

.swiper-slide-image__main img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide-image__play {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 25%;
  height: 25%;
  padding: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.24);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.swiper-slide-image__play img {
  display: block;
  width: 80px;
}

.info-swiper-slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  max-width: 37.6875rem;
  /* .info-swiper-slide__title */
  /* .info-swiper-slide__text */
}

.info-swiper-slide__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  margin-bottom: 24px;
  /* or 32px */
  color: #1d2736;
}

.info-swiper-slide__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */
  color: #1d2736;
}

.info-swiper-slide__text:not(:last-child) {
  margin-bottom: 16px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #1d2736;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 0.3;
  -o-transition: 0.3;
  transition: 0.3;
  cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
  color: #1d2736;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-prev::after {
  content: "←";
}

.swiper-button-next {
  right: 0;
}

.swiper-button-next::after {
  content: "→";
}

.swiper-button-disabled {
  cursor: not-allowed;
  border: 2px solid #b8bcc1;
}

.swiper-button-disabled::after {
  color: #b8bcc1;
}

.stop {
  /* .stop__container-big */
  /* .stop__container */
}

@supports (padding-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .stop {
    padding-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .stop {
    padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .stop {
    padding-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .stop {
    padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

.stop__container-big {
  background: #f9f7fc;
}

@supports (padding-top: clamp( 3.125rem , 1.9345238095rem  +  5.9523809524vw , 6.25rem )) {
  .stop__container-big {
    padding-top: clamp( 3.125rem , 1.9345238095rem  +  5.9523809524vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.9345238095rem  +  5.9523809524vw , 6.25rem )) {
  .stop__container-big {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.9345238095rem  +  5.9523809524vw , 6.25rem )) {
  .stop__container-big {
    padding-bottom: clamp( 3.125rem , 1.9345238095rem  +  5.9523809524vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.9345238095rem  +  5.9523809524vw , 6.25rem )) {
  .stop__container-big {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 52.5);
  }
}

.stop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.stop-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 10px 0 0;
  /* .stop-left__title */
  /* .stop-left__text */
}

.stop-left__title {
  font-weight: 700;
  /* identical to box height, or 55px */
  letter-spacing: -0.03em;
  color: #1d2736;
}

@supports (font-size: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .stop-left__title {
    font-size: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .stop-left__title {
    font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (line-height: clamp( 2.1875rem , 1.7113095238rem  +  2.380952381vw , 3.4375rem )) {
  .stop-left__title {
    line-height: clamp( 2.1875rem , 1.7113095238rem  +  2.380952381vw , 3.4375rem );
  }
}

@supports not (line-height: clamp( 2.1875rem , 1.7113095238rem  +  2.380952381vw , 3.4375rem )) {
  .stop-left__title {
    line-height: calc(2.1875rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (margin-bottom: clamp( 0.875rem , 0.6369047619rem  +  1.1904761905vw , 1.5rem )) {
  .stop-left__title {
    margin-bottom: clamp( 0.875rem , 0.6369047619rem  +  1.1904761905vw , 1.5rem );
  }
}

@supports not (margin-bottom: clamp( 0.875rem , 0.6369047619rem  +  1.1904761905vw , 1.5rem )) {
  .stop-left__title {
    margin-bottom: calc(0.875rem + 0.625 * (100vw - 20rem) / 52.5);
  }
}

.stop-left__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */
  color: #677487;
}

.stop-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 40px 0 45px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

@supports (gap: clamp( 1.75rem , 1.0357142857rem  +  3.5714285714vw , 3.625rem )) {
  .stop-right {
    gap: clamp( 1.75rem , 1.0357142857rem  +  3.5714285714vw , 3.625rem );
  }
}

@supports not (gap: clamp( 1.75rem , 1.0357142857rem  +  3.5714285714vw , 3.625rem )) {
  .stop-right {
    gap: calc(1.75rem + 1.875 * (100vw - 20rem) / 52.5);
  }
}

.item-stop-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  /* .item-stop-right__title */
}

.item-stop-right__title {
  color: #1d2736;
}

.pricing {
  /* .pricing__container-big */
  /* .pricing__container */
}

@supports (padding-top: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .pricing {
    padding-top: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .pricing {
    padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .pricing {
    padding-bottom: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .pricing {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

.pricing__container-big {
  position: relative;
}

@supports (padding-top: clamp( 1.875rem , -3.3630952381rem  +  26.1904761905vw , 15.625rem )) {
  .pricing__container-big {
    padding-top: clamp( 1.875rem , -3.3630952381rem  +  26.1904761905vw , 15.625rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -3.3630952381rem  +  26.1904761905vw , 15.625rem )) {
  .pricing__container-big {
    padding-top: calc(1.875rem + 13.75 * (100vw - 20rem) / 52.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -3.3630952381rem  +  26.1904761905vw , 15.625rem )) {
  .pricing__container-big {
    padding-bottom: clamp( 1.875rem , -3.3630952381rem  +  26.1904761905vw , 15.625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -3.3630952381rem  +  26.1904761905vw , 15.625rem )) {
  .pricing__container-big {
    padding-bottom: calc(1.875rem + 13.75 * (100vw - 20rem) / 52.5);
  }
}

.no-webp .pricing__container-big::before{
  background: url(../img/iilustration/dot-bg.png) 0 0/cover no-repeat; }

.pricing__container-big::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}

.pricing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  /* .pricing-body__title */
  /* .pricing-body__features */
  /* .pricing-body__features-red */
  /* .pricing-body__features-orange */
  /* .pricing-body__features-green */
  /* .pricing-body__features-blue */
  /* .pricing-body__features-viola */
}

.pricing-body__title {
  font-weight: 700;
  line-height: 110%;
  /* identical to box height, or 55px */
  letter-spacing: -0.03em;
  color: #1d2736;
}

@supports (font-size: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .pricing-body__title {
    font-size: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3988095238rem  +  2.380952381vw , 3.125rem )) {
  .pricing-body__title {
    font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .pricing-body__title {
    margin-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
  .pricing-body__title {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 52.5);
  }
}

.pricing-body__features {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 24px;
  line-height: 180%;
  margin: 16px 16px 0px 0;
}

.pricing-body__features:last-child {
  margin-bottom: 40px;
}

.pricing-body__features-red {
  background: #fff1ef;
  border: 1px solid #ffd1ca;
  color: #ff8b7a;
}

.pricing-body__features-orange {
  background: #fff8ee;
  border: 1px solid #ffca7a;
  color: #ffac2f;
}

.pricing-body__features-green {
  background: #ecfff4;
  border: 1px solid #98fac0;
  color: #3acd77;
}

.pricing-body__features-blue {
  background: #f1feff;
  border: 1px solid #6ee1e9;
  color: #2bc0ca;
}

.pricing-body__features-viola {
  background: #fcf5ff;
  border: 1px solid #ebbdff;
  color: #c140fd;
}

.info-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* .info-price__number */
  /* .info-price__text */
}

.info-price__number {
  font-size: 96px;
  font-weight: 800;
  letter-spacing: 0.5;
  color: #1d2736;
  margin-bottom: 15px;
}

.info-price__text {
  display: inline-block;
  color: #1d2736;
  margin-left: -70px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

/**
 * Swiper 8.2.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: June 13, 2022
 */

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

@media (max-width: 62.5em) {
  .mix-section-page__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 61.875em) {
  .menu__body {
    margin-right: 0;
  }
}

@media (max-width: 61.99875em) {
  .your-agency__body {
    gap: 35px;
  }

  .your-agency-body__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .your-agency-body__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .apply__body {
    padding: 0 10px;
  }

  .row-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 22px;
  }

  .swiper-slide {
    padding: 0 0px 50px 0px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    bottom: 50px;
  }
}

@media (max-width: 59.375em) {
  .menu__list {
    padding: 80px 0;
    font-size: 25px;
    gap: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .side-menu {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #f0998d;
    top: 0;
    right: -200%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) {
  .your-agency__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }

  .your-agency-body__image {
    max-width: 31.25rem;
  }

  .mix-section-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mix-page-info__title {
    max-width: 80%;
  }

  .replaces__btn {
    width: 100%;
  }

  .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0px 90px 0px;
  }

  .stop__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .stop-right {
    border-left: none;
    padding: 0px;
  }
}

@media (max-width: 43.75em) {
  .pricing__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

@media (max-width: 42.5em) {
  .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 29.99875em) {
  .mix-buttons {
    margin-bottom: 30px;
  }

  .apply-form__row {
    margin-bottom: 20px;
  }

  .row-form__item input {
    padding: 18px 22px;
  }
}

@media (max-width: 21.875em) {
  .mix-buttons {
    margin-bottom: 100px;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .menu__link:hover {
    color: #000;
  }

  .btn-pale:hover {
    color: #fff0ec;
    background: #f0998d;
  }

  .footer-bottom:hover {
    color: #ffffff;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #fff;
  }
}

.webp .pricing__container-big::before{ background: url(../img/iilustration/dot-bg.webp) 0 0/cover no-repeat; }